.items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 60px;
    a{
        text-decoration: none;
        padding: 10px 15px;
        color: white;
    }
    a:hover{
        transform: scale(1.1);
        transition: .5s;
        background-color: red;
        color: white;
    }
}